# 1. 忽略该目录下的一切
data/云南天池挑选动物视频文件20230309/*

# 2. 唯独允许这个具体的子文件夹及其内部所有文件被追踪
# 逐级放行父目录
!data/云南天池挑选动物视频文件20230309/
!data/云南天池挑选动物视频文件20230309/keyframe_images_with_box/
!data/云南天池挑选动物视频文件20230309/keyframe_images_with_box/**

# 忽略缓存
__pycache__/
.streamlit/