# 1. 忽略该目录下的一切
data/云南天池挑选动物视频文件20230309/*

# 2. 逐级放行目录结构（不放行文件，只放行路径）
!data/云南天池挑选动物视频文件20230309/
!data/云南天池挑选动物视频文件20230309/keyframe_images_with_box/

# 3. 忽略该路径下的所有视频（防止误传大文件）
data/云南天池挑选动物视频文件20230309/*.mp4
data/云南天池挑选动物视频文件20230309/*.MOV

# 忽略缓存
__pycache__/
.streamlit/